:root {
    --spacing: 1rem;
    --big-spacing: 300px;
}

@mixin card-glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: var(--spacing);
    margin: var(--spacing);
    transition: .2s ease-in-out;

    &:hover {
        transition: .2s ease-in-out;
        box-shadow: 0 4px 40px rgba(175, 21, 111, 0.445);
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}