:root {
  --spacing: 1rem;
  --big-spacing: 150px;
  --light: rgba(247, 231, 207, 1);
  --dark: rgba(161, 177, 141);
  --highlight: rgba(191, 89, 119, 0.5);
  --cubic-bezier: cubic-bezier(0, 1.1, .39, 1.5);
  scroll-behavior: smooth;
}

* {
  font-family: "Poiret One", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
span,
a {
  font-family: "Poiret One", sans-serif;
}

p,
button {
  font-family: "Gayathri";
}

nav {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: var(--spacing);
  margin: var(--spacing);
  transition: 0.2s ease-in-out;
}
nav:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 70px var(--highlight);
}
nav {
  position: fixed;
  top: 0;
  height: fit-content;
  z-index: 10;
  align-items: center;
  width: fit-content;
  padding: var(--spacing);
  gap: 3rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  nav {
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing);
  }
}
nav .logo {
  width: 4rem;
  aspect-ratio: 1/1;
}
nav .logo img {
  width: 100%;
}
nav .nav-links {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 3rem;
  display: flex;
  color: var(--light);
  font-weight: bold;
}
@media (max-width: 992px) {
  nav .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing);
  }
}
nav .nav-links a {
  color: rgb(191, 89, 120);
}
nav .nav-links a:hover {
  text-decoration: underline 1px;
  text-shadow: 30px 1px 30px var(--light);
}

.landing {
  margin-top: calc(var(--big-spacing) / 2);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 992px) {
  .landing {
    grid-template-columns: 1fr;
    margin-top: var(--big-spacing);
  }
}
.landing__intro {
  font-size: 64px;
  color: var(--light);
  text-shadow: 4px 7px 0px var(--dark);
}
.landing__intro h1 {
  width: 40%;
  justify-self: right;
  transform-origin: right;
  text-align: right;
  animation: 0.9s title both;
  animation-timing-function: var(--cubic-bezier);
}
@media (max-width: 992px) {
  .landing__intro h1 {
    width: unset;
    align-self: center;
    text-align: center;
  }
}
.landing__animation {
  height: 700px;
  position: relative;
}
.landing__animation > * {
  position: absolute;
  max-width: 300px;
  animation: 0.8s both;
  animation-name: var(--animation-name);
  animation-timing-function: var(--cubic-bezier);
}
@media (max-width: 992px) {
  .landing__animation {
    display: none;
  }
}

@keyframes saladbun {
  from {
    left: 10%;
    bottom: 40%;
  }
  to {
    left: 10%;
    bottom: -7%;
  }
}
@keyframes steak {
  from {
    transform: scale(0);
    bottom: 50%;
    left: 10%;
  }
  30% {
    transform: scale(0);
  }
  60% {
    transform: scale(1);
  }
  to {
    left: 10%;
    bottom: 20%;
  }
}
@keyframes tomates {
  from {
    transform: scale(0);
    bottom: 50%;
    left: 10%;
  }
  40% {
    transform: scale(0);
  }
  70% {
    transform: scale(1);
    z-index: 2;
  }
  to {
    left: 10%;
    bottom: 40%;
  }
}
@keyframes bacon {
  from {
    transform: scale(0);
    bottom: 50%;
    left: 10%;
  }
  60% {
    transform: scale(0);
  }
  90% {
    transform: scale(1);
  }
  to {
    left: 10%;
    bottom: 58%;
  }
}
@keyframes bun {
  from {
    left: 10%;
    top: 40%;
  }
  to {
    left: 10%;
    top: 0;
  }
}
@keyframes title {
  from {
    opacity: 0;
    transform: translateX(300%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
footer {
  border-top: 1px solid var(--light);
  padding: var(--spacing);
  font-size: 1.5rem;
  display: flex;
  color: var(--light);
  gap: var(--spacing);
  flex-direction: column;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: var(--spacing);
  margin: var(--spacing);
  transition: 0.2s ease-in-out;
}
.card:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 70px var(--highlight);
}
.card {
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: var(--spacing);
}
.card img {
  transition: 0.3s ease-in-out;
  height: 300px;
  align-self: center;
  margin: 30px 0;
}
.card button {
  width: fit-content;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: var(--spacing);
  margin: var(--spacing);
  transition: 0.2s ease-in-out;
}
.card button:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 70px var(--highlight);
}
.card button {
  align-self: center;
}
.card:hover {
  z-index: 2;
  margin: 0 50px;
  transform: scale(1.1);
}
@media (max-width: 592px) {
  .card:hover {
    margin: var(--spacing);
  }
}
.card:hover img {
  transition: 0.3s ease-in-out;
  transform: rotate(-20deg) scale(1.1);
}

@keyframes card {
  to {
    transform: scale(1.1);
  }
}
section {
  margin: var(--big-spacing) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section h2 {
  text-align: center;
}
section div {
  gap: var(--spacing);
  margin-top: 100px;
  display: flex;
}
@media (max-width: 592px) {
  section div {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  section div:nth-child(3) {
    display: none;
  }
}

#myPopover {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: var(--spacing);
  margin: var(--spacing);
  transition: 0.2s ease-in-out;
}
#myPopover:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 70px var(--highlight);
}
#myPopover > * {
  margin: var(--spacing);
}
#myPopover::backdrop {
  background: rgba(255, 255, 255, 0.466);
  backdrop-filter: blur(1px);
}

body {
  background: radial-gradient(circle, var(--light) 50%, var(--dark) 100%);
  overflow-x: hidden;
}

h2 {
  font-weight: 400;
  font-size: 64px;
  font-weight: bold;
  color: rgb(191, 89, 120);
  text-shadow: 5px 5px 0px var(--light);
}

/*# sourceMappingURL=style.css.map */
