@charset "UTF-8";
:root {
  --spacing: 1rem;
  --big-spacing: 300px;
  --light: rgba(247, 231, 207, 1);
  --dark: rgba(161, 177, 141);
  --highlight: rgb(191, 89, 119, 0.5);
}

* {
  font-family: "Poiret One", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
span {
  font-family: "Poiret One", sans-serif;
}

p,
a,
button {
  font-family: "Gayathri";
}

nav {
  padding: var(--spacing);
  background: rgba(0, 0, 255, 0.144);
  display: grid;
  grid-template-columns: 2rem auto;
}
nav .logo {
  width: 2rem;
  aspect-ratio: 1/1;
}
nav .nav-links {
  width: 100%;
  align-self: center;
  justify-self: center;
  justify-content: space-evenly;
  gap: 3rem;
  display: flex;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: var(--spacing);
  margin: var(--spacing);
  transition: 0.2s ease-in-out;
}
.card:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 70px var(--highlight);
}
.card {
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: var(--spacing);
}
.card img {
  transition: 0.3s ease-in-out;
  height: 300px;
  align-self: center;
  margin: 30px 0;
}
.card button {
  width: fit-content;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: var(--spacing);
  margin: var(--spacing);
  transition: 0.2s ease-in-out;
}
.card button:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 70px var(--highlight);
}
.card button {
  align-self: center;
}
.card:hover {
  z-index: 2;
  margin: 0 50px;
  transform: scale(1.1);
}
.card:hover img {
  transition: 0.3s ease-in-out;
  transform: rotate(-20deg) scale(1.1);
}

section {
  margin: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section h2 {
  text-align: center;
}
section div {
  gap: var(--spacing);
  margin-top: 100px;
  display: flex;
}

#myPopover {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: var(--spacing);
  margin: var(--spacing);
  transition: 0.2s ease-in-out;
}
#myPopover:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 70px var(--highlight);
}
#myPopover li::marker {
  content: "❋";
}
#myPopover > * {
  margin: var(--spacing);
}
#myPopover::backdrop {
  background: rgba(255, 255, 255, 0.466);
  backdrop-filter: blur(1px);
}

body {
  background: radial-gradient(circle, var(--light) 50%, var(--dark) 100%);
}

h2 {
  font-weight: 400;
  font-size: 64px;
}

/*# sourceMappingURL=style.css.map */
